.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: rgb(215, 255, 193);
}

@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}